@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://allfont.net/allfont.css?fonts=vipnagorgialla");

*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;

}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #F9F6FD;
  color: #1A2632;
  cursor: default; }

.active {
  color: #301930; }

p, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  white-space: normal;
  overflow-wrap: break-word; }

h1, h2 {
  font-family: "Vipnagorgialla", "Raleway", sans-serif;
  mix-blend-mode: normal; }

a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
  z-index: 200;}

a:hover {
  text-decoration: none; }

.splashpg {
  background-color: #161515;
  height: 100vh; }
