$lightergraypurple: #d9cedf;
$muave: rgb(166, 125, 176);
$purple: rgb(66, 7, 110);
$graypurple: #AC9FB2;
$pinkish: #D6C7D7;
$darkpurple: #61526d;
$background: #F9F6FD;
$text: #1A2632;
$heading: rgb(255, 239, 215);
$bluegray:  #6b728d;
$f4color: #d65273;
