$lightergraypurple: #d9cedf;
$muave: #a57daf;
$purple: #41076d;
$graypurple: #AC9FB2;
$pinkish: #D6C7D7;
$darkpurple: #61526d;
$background: #F9F6FD;
$text: #1A2632;
$heading: #ffefd7;
$bluegray:  #6b728d;
