.wrapabtjoin {
  height: 100%;
  width: 100vw;
  overflow-x: hidden; }

.wrapabtjoin h4 {
  font-size: 10rem;
  font-weight: 900;
  text-transform: uppercase; }

.wrapabtjoin h1 {
  font-size: 12rem;
  text-transform: uppercase;
  color: #d9cedf;
  margin: 0 auto; }

.wrapabtjoin .abtheader {
  padding: 0 0 0 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;
  background: url("../images/bGourstor.png") no-repeat top center/cover; }

.wrapabtjoin .abtheader h2 {
  text-transform: uppercase;
  font-size: 5rem;
  color: #f9f5ff;
  position: relative; }

@media screen and (max-width: 430px) {
  .wrapabtjoin .abtheader h2 {
    font-size: 5rem;
    left: 1.8rem; } }

.wrapabtjoin .abtdes {
  overflow: hidden;
  height: 100%;
  position: relative;
  padding: 18.5rem  3rem;
  background: #d9cedf url("../images/abtdesimg.png") no-repeat left center/cover;
  background-blend-mode: luminosity; }

.wrapabtjoin .abtdes .destext {
  width: 32vw;
  position: relative;
  left: 10%; }

.wrapabtjoin .abtdes .destext p {
  color: #f9f5ff;
  font-size: 1.25rem; }

.wrapabtjoin .joinHeader {
  padding: 8rem 5rem;
  height: 100vh;
  background: url("../images/bGourstor.png") no-repeat top center/cover; }

.wrapabtjoin .joinHeader p {
  width: 90%;
  font-size: 1.7rem;
  color: #d9cedf; }

.wrapabtjoin .comitWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.wrapabtjoin .comitWrap h2 {
  position: relative;
  z-index: 2;
  font-size: 4.3rem;
  margin-bottom: 0.5rem;
  color: #f9dcb0;
  mix-blend-mode: luminosity; }

.wrapabtjoin .comitWrap p {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  color: #f9f5ff;
  mix-blend-mode: hard-light; }

.wrapabtjoin .comitWrap .comitBox {
  position: relative;
  height: 750px;
  padding: 2rem;
  overflow: hidden; }

.wrapabtjoin .comitWrap .comitBox .figurecom {
  position: absolute;
  margin-top: 5rem;
  bottom: 0;
  right: 3rem;
  z-index: 1;
  height: 70%;
  mix-blend-mode: luminosity; }

.wrapabtjoin .comitWrap .comitBox .figurecom img {
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down; }

.wrapabtjoin .comitWrap .comitBox:nth-of-type(1) {
  /*background-color: rgb(71, 55, 73);*/
  background-color: #2E2031; }

.wrapabtjoin .comitWrap .comitBox:nth-of-type(2) {
  /*background-color: #7e6771;*/
  background-color: #7a636d; }

.wrapabtjoin .comitWrap .comitBox:nth-of-type(3) {
  background-color: #5d4e69;
  /*background-color: saturate($darkpurple, 1%);*/ }

.wrapabtjoin .comitWrap .comitBox:nth-of-type(4) {
  background-color: #343042;
  /*background-color: #656580;*/ }

.wrapabtjoin .comitWrap .exec, .wrapabtjoin .comitWrap .models {
  padding: 2.5rem; }

.wrapabtjoin .comitWrap .exec p, .wrapabtjoin .comitWrap .models p {
  padding-right: 4.8rem; }

.wrapabtjoin .comitWrap .design, .wrapabtjoin .comitWrap .members {
  padding: 2.5rem;
  text-align: right; }

.wrapabtjoin .comitWrap .design p, .wrapabtjoin .comitWrap .members p {
  padding-left: 4rem; }

.wrapabtjoinSM {
  width: 100vw;
  height: 100%;
  overflow: hidden; }

.wrapabtjoinSM .bgMobile {
  position: absolute;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: -1; }

.wrapabtjoinSM .bgMobile .aboutSMimg {
  width: 100vw;
  -o-object-fit: contain;
  object-fit: contain; }

.wrapabtjoinSM h1 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #a284c9;
  mix-blend-mode: exclusion; }

.wrapabtjoinSM p {
  color: #fdf3e4;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: normal;
  line-height: 1.4rem;
  mix-blend-mode: difference; }

.wrapabtjoinSM .headersecSM {
  position: relative;
  top: 11%;
  padding: 5rem 2rem 0.4rem 2rem; }

.wrapabtjoinSM .toprightSM {
  padding: 0 2rem;
  position: relative;
  top: -0.5rem; }

.wrapabtjoinSM .joinHeaderSM {
  padding: 0 2rem;
  position: relative;
  top: -1.3rem; }

.wrapabtjoinSM .joinHeaderSM h1 {
  font-size: 7rem;
  line-height: 7rem; }

.wrapabtjoinSM .joinusTextSM {
  padding: 0 3rem;
  position: relative;
  top: -5.3rem; }

.wrapabtjoinSM .joinusTextSM p {
  color: #fdf3e4;
  mix-blend-mode: normal; }

.wrapabtjoinSM h4 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase; }

.wrapabtjoinSM .roletextSM {
  padding-bottom: 3rem;
  position: relative;
  top: -0.5rem; }

.wrapabtjoinSM .roletextSM p {
  font-size: 1rem;
  color: #fdf3e4;
  mix-blend-mode: normal; }

.wrapabtjoinSM .roletextSM h4 {
  font-size: 3.7rem; }

.wrapabtjoinSM .exmemberSM {
  text-align: right;
  padding: 0 1rem;
  position: relative;
  top: -2.3rem; }

.wrapabtjoinSM .exmemberSM h4 {
  color: #2c1061; }

.wrapabtjoinSM .exmemberSM p {
  padding: 0 0 0 4rem; }

.wrapabtjoinSM .designersSM {
  text-align: left;
  padding: 0 0.8rem 2.5rem 0.8rem; }

.wrapabtjoinSM .designersSM h4 {
  color: #f5915e; }

.wrapabtjoinSM .designersSM p {
  padding: 0 4.5rem 0 0.5rem; }

.wrapabtjoinSM .modelsSM {
  text-align: right;
  padding: 0 1rem;
  margin-bottom: 2.7rem; }

.wrapabtjoinSM .modelsSM h4 {
  color: #5A95B4; }

.wrapabtjoinSM .modelsSM p {
  padding: 0 0 0 3.5rem; }

.wrapabtjoinSM .committeeSM {
  text-align: left;
  padding: 0 0.8rem 3rem 0.8rem; }

.wrapabtjoinSM .committeeSM h4 {
  color: #f5915e;
  font-size: 3.7rem; }

.wrapabtjoinSM .committeeSM p {
  padding: 0 4.5rem 0 0.5rem; }

/*# sourceMappingURL=aboutus.css.map */
