@import 'colors';
@import 'breakpoints'; 

.wrapabtjoin{
    height: 100%;
    width: 100vw;
    overflow-x: hidden;

    p{
        color: $heading;
        font-size: 1.9rem;
        font-weight: 500;
        white-space: normal;
        line-height: 2.7rem;
    }
    
    h4{
        font-size: 10rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    .revealBox{
        overflow: hidden;
        width: fit-content;
    }

    .firstsec{
        background: url('../images/aboutus/part1.png') no-repeat top center/ cover;
        height: 1820px;
        padding: 0 4.5rem;
        margin-top: -10rem;
    
        h1{
            position: relative;
            top: 11%;
            font-size: 12rem;
            text-transform: uppercase;
            color: #e2daec;
            width: 80%;
            mix-blend-mode: hard-light;

            @include media ("screen", "<=phone") {
                font-size: 5rem;
                left: 1.8rem;
                top: -15rem;
            }
        }

        .topright{
            padding: 0.75rem;
            position: relative;
            width: 39%;
            float: right;
            height: 100%;

            @include media ("screen", "<=phone") {
                width: 70%;
                top: -14rem;
                right: 1rem;
                padding: 1rem;
            }

          p{
            text-align: right;
            
           }
        }
    }
    .secondsec{
        background: url('../images/aboutus/part2.png') no-repeat top center/ cover;
        height: 1805px;
        padding: 2rem 4.5rem;

        @include media ("screen", "<=phone") {
            background: none;
            height: 100%;
            padding: 1rem;
        }

        .bottomleft{
            padding: 0.5rem 1rem;
            position: relative;
            margin-top: 1rem;
            width: 41%;
            overflow: hidden;
            height: 50%;

            @include media ("screen", "<=phone") {
                width: 85%;
                top: -9rem;
                
            }
        }
        .joinHeader{
            position: relative;
            top: 11%;
            left: -3rem;
            overflow: hidden;
            h1{
                font-size: 14rem;
                text-transform: uppercase;
                color: $bluegray;
                padding: 2rem 1rem;
                position: relative;
                top: 1rem;
                mix-blend-mode: screen;
            }
        }
    }
    .thirdsec{
        background: url('../images/aboutus/part3.png') no-repeat top center;
        height: 1800px;
        background-size: cover;
        padding: 1rem 4.5rem;
        position: relative;
        top: -0.24rem;

        @include media ("screen", "<=phone") {
            background: none;
            height: 100%;
            padding: 1rem;
        }

        .joinusText{
            margin-top: 1rem;
            position: relative;
            top: -14rem;
            p{
                position: relative;
                width: 35%;
                line-height: 3rem;
            }
        }

        .revealBox1{
            position: relative;
            top: 15%;
            padding-bottom: 4rem;
            height: 100%;
    
            .exmember{
                text-align: right;
                h4{
                    color: #231242;
                    margin-bottom: 0.5rem;
                    opacity: 0.9;
                }
                p{
                    width: 57%;
                    float: right;
                    letter-spacing: 3px;
                }
               
            }
        }
    }
    .fourthsec{
        background: url('../images/aboutus/part4.png') no-repeat top center;
        height: 1790px;
        padding: 1rem 4.5rem;
        position: relative;
        top: -0.55rem;

        @include media ("screen", "<=phone") {
            background: none;
            height: 100%;
            padding: 1rem;
        }

        .designers{
            margin-bottom: 2rem;
            overflow: hidden;
            h4{
                color: #f5915e;
                position: relative;
                left: 0.5rem;
                mix-blend-mode: screen;
                opacity: 0.7;
            }
            p{
                width: 75%;
                position: relative;
                left: 1rem;
            }
        }
        .models{
            float: right;
            text-align: right;
            margin: 2rem 0;
            h4{
                color:#5A95B4;
            }
            p{
                float: right;
                width: 58%;
                position: relative;

            }
        }
        .committee{
            margin-top: 3rem;
            h4{
                color: #DEB69F;
            }
            p{
                width: 68%;
                position: relative;
                left: 1rem;
            }
        }
    }
}

.wrapabtjoinSM{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    
    .bgMobile{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        .aboutSMimg{
            width: 100vw;
            object-fit: contain;
        }
    }
    h1{
        font-size: 5rem;
        text-transform: uppercase;
        color: #a284c9;
        mix-blend-mode: exclusion;
    }
    p{
        color: $heading;
        font-size: 0.9rem;
        font-weight: 500;
        white-space: normal;
        line-height: 1.4rem;
        mix-blend-mode: difference;
    }
    .headersecSM{
        position: relative;
        top: 11%;
        padding: 5rem 2rem 0.4rem 2rem;
    }
    .toprightSM{
        padding: 0 2rem;
        position: relative;
        top: -0.5rem;
    }
    .joinHeaderSM{
        padding: 0 2rem;
        position: relative;
        top: -1.3rem;

        h1{
            font-size: 7rem;
            line-height: 7rem;
        }
    }
    .joinusTextSM{
        padding: 0 3rem;
        position: relative;
        top: -5.3rem;
        p{
            color: $heading;
            mix-blend-mode: normal;
        }
    }
    h4{
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    .roletextSM{
        padding-bottom: 3rem;
        position: relative;
        top: -0.5rem;
     p{
        font-size: 1rem;
        color: $heading;
        mix-blend-mode: normal;
     }
     h4{font-size: 3.7rem;}
    }
    .exmemberSM{
        text-align: right;
        padding: 0 1rem;
        position: relative;
        top: -2.3rem;
        h4{color: #2c1061;}
        p{padding: 0 0 0 4rem;}
    }
    .designersSM{
        text-align: left;
        padding: 0 0.8rem 2.5rem 0.8rem;
        h4{color: #f5915e;}
        p{padding: 0 4.5rem 0 0.5rem;}
    }
    .modelsSM{
        text-align: right;
        padding: 0 1rem;
        margin-bottom: 2.7rem;
        h4{color:#5A95B4;}
        p{padding: 0 0 0 3.5rem;}
    }
    .committeeSM{
        text-align: left;
        padding: 0 0.8rem 3rem 0.8rem;
        h4{color: #f5915e; font-size: 3.7rem;}
        p{padding: 0 4.5rem 0 0.5rem;}
    }

}