@import 'colors';
@import 'breakpoints'; 

.wrapabtjoin{
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    
    h4{
        font-size: 10rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    h1{
        font-size: 12rem;
        text-transform: uppercase;
        color: $lightergraypurple;
        margin: 0 auto;
    }
    .abtheader{
        padding: 0 0 0 4.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        height: 100vh;
        overflow: hidden;
        background: url('../images/bGourstor.png') no-repeat top center/cover;

        h2{
            text-transform: uppercase;
            font-size: 5rem;
            color: $background;
            position: relative;

            @include media ("screen", "<=phone") {
                font-size: 5rem;
                left: 1.8rem;
            }
        }
    }
    .abtdes{
        overflow: hidden;
        height: 100%;
        position: relative;
        padding: 18.5rem  3rem;
        background: $lightergraypurple url('../images/abtdesimg.png') no-repeat left center/cover;
        background-blend-mode: luminosity;
        .destext{  
            width: 32vw;
            position: relative; 
            left: 10%;  
            p{
                color: $background;
                font-size: 1.25rem;
            }
        }
    }

    .joinHeader{
        padding: 8rem 5rem;
        height: 100vh;
        background: url('../images/bGourstor.png') no-repeat top center/cover;

        p{
            width: 90%;
            font-size: 1.7rem;
            color: $lightergraypurple;
        }

    }
    .comitWrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;

        h2{
            position: relative;
            z-index: 2;
            font-size: 4.3rem;
            margin-bottom: 0.5rem;
            color: darken($heading, 11%);
            mix-blend-mode: luminosity;
        }
        p{
            position: relative;
            z-index: 2;
            font-size: 1.5rem;
            color: $background;
            mix-blend-mode: hard-light;
        }

        .comitBox{
            position: relative;
            height: 750px;
            padding: 2rem;
            overflow: hidden;

            .figurecom{
                position: absolute;
                margin-top: 5rem;
                bottom: 0;
                right: 3rem;
                z-index: 1;
                height: 70%;
                mix-blend-mode: luminosity;

                img{
                    height: 100%;
                    object-fit: scale-down;
                }
            }
        }
        .comitBox:nth-of-type(1){
            /*background-color: rgb(71, 55, 73);*/
            background-color: #2E2031;
        }
        .comitBox:nth-of-type(2){
            /*background-color: #7e6771;*/
            background-color: #7a636d;
        }
        .comitBox:nth-of-type(3){
            background-color: #5d4e69;
           /*background-color: saturate($darkpurple, 1%);*/
        }
        .comitBox:nth-of-type(4){
            background-color: #343042;
            /*background-color: #656580;*/

        }
        .exec, .models{
            padding: 2.5rem;
            p{
             padding-right: 4.8rem;
            }
        }
        .design, .members{
            padding: 2.5rem;
            text-align: right;
            p{
                padding-left: 4rem;
            }
        }
    }

   
}

.wrapabtjoinSM{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    
    .bgMobile{
        position: absolute;
        transform: translate(0,0);
        z-index: -1;
        .aboutSMimg{
            width: 100vw;
            object-fit: contain;
        }
    }
    h1{
        font-size: 5rem;
        text-transform: uppercase;
        color: #a284c9;
        mix-blend-mode: exclusion;
    }
    p{
        color: $heading;
        font-size: 0.9rem;
        font-weight: 500;
        white-space: normal;
        line-height: 1.4rem;
        mix-blend-mode: difference;
    }
    .headersecSM{
        position: relative;
        top: 11%;
        padding: 5rem 2rem 0.4rem 2rem;
    }
    .toprightSM{
        padding: 0 2rem;
        position: relative;
        top: -0.5rem;
    }
    .joinHeaderSM{
        padding: 0 2rem;
        position: relative;
        top: -1.3rem;

        h1{
            font-size: 7rem;
            line-height: 7rem;
        }
    }
    .joinusTextSM{
        padding: 0 3rem;
        position: relative;
        top: -5.3rem;
        p{
            color: $heading;
            mix-blend-mode: normal;
        }
    }
    h4{
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    .roletextSM{
        padding-bottom: 3rem;
        position: relative;
        top: -0.5rem;
     p{
        font-size: 1rem;
        color: $heading;
        mix-blend-mode: normal;
     }
     h4{font-size: 3.7rem;}
    }
    .exmemberSM{
        text-align: right;
        padding: 0 1rem;
        position: relative;
        top: -2.3rem;
        h4{color: #2c1061;}
        p{padding: 0 0 0 4rem;}
    }
    .designersSM{
        text-align: left;
        padding: 0 0.8rem 2.5rem 0.8rem;
        h4{color: #f5915e;}
        p{padding: 0 4.5rem 0 0.5rem;}
    }
    .modelsSM{
        text-align: right;
        padding: 0 1rem;
        margin-bottom: 2.7rem;
        h4{color:#5A95B4;}
        p{padding: 0 0 0 3.5rem;}
    }
    .committeeSM{
        text-align: left;
        padding: 0 0.8rem 3rem 0.8rem;
        h4{color: #f5915e; font-size: 3.7rem;}
        p{padding: 0 4.5rem 0 0.5rem;}
    }

}