.agency-home {
  background: url("../images/agencyBgT2.gif") no-repeat 60px;
  background-color: #e2e2e2;
  background-size: cover;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  padding-bottom: 5rem; }

.intro-a {
  height: 100vh;
  color: #1A2632;
  margin-top: 6rem;
  margin-bottom: 3rem; }
  .intro-a .experts {
    position: relative;
    top: 8rem;
    left: 6rem;
    word-break: break-word;
    width: 90%; }
    .intro-a .experts h1 {
      font-size: 8rem;
      padding-right: 3rem;
      text-transform: uppercase;
      letter-spacing: 15px;
      line-height: 8rem;
      mix-blend-mode: hard-light; }
    .intro-a .experts h3 {
      width: 54%;
      margin-top: 2rem;
      line-height: 2.3rem;
      font-size: 1.5rem; }

.agency {
  height: 100%;
  position: relative;
  top: -2rem;
  width: 99vw;
  padding: auto 2rem;
  justify-content: center;
  align-items: center;
  align-content: space-around; }
  .agency .box {
    height: 200px;
    width: 150px;
    margin: 2rem 2.3rem;
    text-align: center;
    background-color: #61526d;
    border-radius: 5px;
    align-self: center; }
    .agency .box:hover {
      background-color: #a57daf;
      transition: all 500ms ease-in-out;
      cursor: pointer; }
    .agency .box h3 {
      color: #ffefd7;
      font-size: 2rem;
      font-weight: 400;
      position: relative;
      top: 5rem; }
