@import 'colors'; 
@import 'breakpoints'; 

.agency-home{
    background: lighten($lightergraypurple, 8%) url('../images/agencyBgT2.gif') no-repeat left -570px/ 160%;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    padding-bottom: 5rem;
    @include media ("screen", "<=phone") {
        background-position: bottom center;
        background-size: 300%;
    }
}

.intro-a{
    height: 100%;
    padding-top: 12.4rem;
    padding-bottom: 6rem;
  
    @include media ("screen", "<=phone") {
        width: 100vw;
        height: 100%;
        margin: 4rem 0;
    }

   .experts{
    padding-left: 5rem;
    position: relative;
    word-break: break-word;
    width: 100%;

    @include media ("screen", "<=phone") {
        width: 100vw;
        top: 2rem;
        left: 0.2rem;
        padding-left: 1.7rem;
        margin-bottom: 2rem;
    }

    h1{
        margin: 0;
        color: darken($darkpurple, 9%);
        font-size: 10.5vw;
        overflow: hidden;
        text-transform: uppercase;
        letter-spacing: 10px;
  
        @include media ("screen", "<=phone") {
            font-size: 10.8vw;
            letter-spacing: 2px;
            line-height: 150%
        }
    }
   }
}
.agency{
    height: 100%;
    position: relative;
    width: 99vw;
    padding: auto 2rem;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    overflow: hidden;
    cursor: none;

    @include media ("screen", "<=phone") {
     width: 100vw;
     padding: auto 1rem;
     margin-left: 0.2rem;
     margin-top: 6rem;
    }

    .box{
        height: 200px;
        width: 305px;
        margin: 1.5rem 2.3rem;
        text-align: center;
        background-color: darken($graypurple, 20%);
        border-radius: 5px;
        align-self: center;

        @include media ("screen", "<=phone") {
            margin: 1rem 2.3rem 2rem 2.3rem;
            height: 200px;
            width: 320px;
            padding: 0 1rem;
            background-color: #61526dda;
        }
        a{  
            @include media ("screen", "<=phone") {
                position: relative;
                z-index: 300;
            } 
        }
        &:hover{
            background-color: darken($darkpurple, $amount: 10%);
            transition: all 500ms ease-in-out;
        }
       
        h3{
            color: $heading;
            font-size: 1.5rem;
            font-weight: 400;
            position: relative;
            top: 5rem;
            @include media ("screen", "<=phone") {
                
            }
        }
        .bigTxt{
            position: relative;
            top: 4.5rem; 
        }
    }
   
}
