@import 'colors';
@import 'breakpoints'; 

%galintrostyle{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.yearlyShows{
  position: relative;
  .spacer{
    @extend %galintrostyle;
    height: 100vh;
    background: linear-gradient(0deg, lighten($lightergraypurple, 17%) 0%, lighten($pinkish, 1%) 100%), darken($darkpurple, 20%);
    padding: 3rem 0 0 0;

    @include media ("screen", "<=phone") {
      height: 100vh;
      text-align: center;
    }

    h1{
      font-size: 8vw;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      text-align: center;
      color: #594a69;
      margin: 0;

      @include media ("screen", "<=phone") {
        font-size: 3.7rem;
        color: $darkpurple;
      }
      .scaleDownTxtTomorrow{
        @include media ("screen", "<=phone") {
          font-size: 2.8rem;
        }}
    }
    h3{
      margin-top: 2rem;
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      text-align: center;
      color: $graypurple;

      @include media ("screen", "<=phone") {
        font-size: 2rem;
      }
    }
  } 
}

.horizontalWrap{
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;

  .portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    background: lighten($lightergraypurple, 15%);
    overflow: hidden;

    @include media ("screen", "<=phone") {
      padding-left: 1rem;
    }
  }
  
  .panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;

    @include media ("screen", "<=phone") {
      flex: 0 0 95%;
      margin-right: 1rem;
    }
  }
  #landscape{
    flex: 0 0 78%;
    @include media ("screen", "<=phone") {
      flex: 0 0 200%;
     }
  }
  .panel_item {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .panel_img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;

    @include media ("screen", "<=phone") {
      padding: 0.5rem 0;
      object-position: bottom;
      object-fit: cover;
     }
  }
}
  
  .pitchWrap{
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: lighten($lightergraypurple, 17%);
    overflow: hidden;
    .posterWrap{
      @extend %galintrostyle;
      height: 100vh;
      margin-bottom: 5rem;

      @include media ("screen", "<=phone") {
        height: 100%;
      }
      h1{
        font-size: 5rem;
        opacity: 0.2;
        color: $lightergraypurple;
        height: 100%;
        width: max-content;
      }
    
      .promotxt1{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        height: 100%;
        width: 100%;
        position: relative;

        @include media ("screen", "<=phone") {
          display: none;
          visibility: hidden;
        }

        h1{
          position: relative;
          transform: rotate(-90deg);
        }
      }
      .promotxt2{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        height: 100%;
        width: 100%;
        position: relative;
        @include media ("screen", "<=phone") {
          display: none;
          visibility: hidden;
        }
        h1{
          transform: rotate(90deg);
          position: relative;
          top: 10rem;
          left: -13rem;
          height: 30%;
        }
      }
    }

    .posterimg{
      height: 100%;
      padding: 1rem 3rem;
      overflow: hidden;
      @include media ("screen", "<=phone") {
        padding: 0 1.5rem;
      }
      img{
        width: 105%;
        @include media ("screen", "<=phone") {
          width: 100%;
        }
      }
    }

/***BodyXSpace Posters**/

    .posterWrapBody{
      @extend %galintrostyle;
      height: 100%;
      margin-bottom: 3rem;
      @include media ("screen", "<=phone") {
        margin-bottom: 0;
        padding: 0.5rem;
      }
      .posterimg{
        height: 100%;
        padding: 1rem 2rem;
        overflow: hidden;
        @include media ("screen", "<=phone") {
          padding: 1rem;
        }
        img{
          width: 100%;
        }
      }
    }
/***BodyXSpace Posters End**/

.pDuo{
  @extend %galintrostyle;
  margin-bottom: 3rem;
  @include media ("screen", "<=phone") {
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .duoCol{
    img{
      width: 100%;
    }
  }
}
    
.countdown{
  @extend %galintrostyle;
  height: 100%;
  margin: 0 0 5rem 0;
  padding: 1.5rem 4rem;
  width: 100vw;
    @include media ("screen", "<=phone") {
      margin: 0 0 4rem 0;
      padding: 0.5rem;
    }
  .counterCol{
    margin: 0;
    .countpic{
      width: 100%;
    }
  }
  .counterColCircus{
    margin: 0 0 2rem 0;
    .countpicCircus{
      width: 100%;
    }
  }
}

.showVideo{
  @extend %galintrostyle;
  height: 100%;
  overflow: hidden;
  padding: 0 0 8rem 0;
  overflow: hidden;

  @include media ("screen", "<=phone") {
    padding: 0 0 5rem 0;
  }

  .videoContainer{
    padding: 0 1rem;
      @include media ("screen", "<=phone") {
        padding: 0;
      }
    video{
      object-fit: contain;
    }
  }
}

.vidIntroTxt{
  align-self: flex-start;
  padding: 1rem 2rem 1.5rem 2rem;
  opacity: 0.7;
  overflow: hidden;

  h1{
    color: darken($purple, 10%);
    font-size: 5rem;
    margin: 0 0 1rem 0;
    @include media ("screen", "<=phone") {
      font-size: 2.3rem;
    }
  }
  h3{
    color: $darkpurple;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
    @include media ("screen", "<=phone") {
      font-size: 1.3rem;
    }
  }
  p{
    @include media ("screen", "<=phone") {
      font-size: 0.9rem;
    }
  }
}
    
/*for body and space style*/
.showVideoBodySpace{
  @extend %galintrostyle;
  height: 100%;
  overflow: hidden;
  padding: 4rem 0 8rem 0;
  @include media ("screen", "<=phone") {
    padding: 4rem 0;
  }
  .videoContainerBody{
    padding: 0 1rem;
    @include media ("screen", "<=phone") {
      padding: 0;
    }
    video{
      width: 100%;
    }
  }

  .bodySpaceLink{
    margin-top: 2rem;
  }
  .linkbtn{
    position: relative;
    z-index: 50;
    width: 400px;
    height: 100px;
    padding: 0 0.5rem;
    transition: transform 500ms ease-in-out;
    -webkit-transition: transform 500ms ease-in-out;
    -moz-transition: transform 500ms ease-in-out;
      
    @include media ("screen", "<=phone") {
      position: relative;
      z-index: 100;
      width: 300px;
      height: 70px;
    }
      
  &:hover{
    transform: translate3d(6px, 0, 0);
    -webkit-transform: translate3d(6px, 0, 0);
    -moz-transform: translate3d(6px, 0, 0);
  }
        
  .circlelink{
    background: #3a023d;
    opacity: 0.5;
    background-blend-mode: difference;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 1rem;
    left: -0.3rem;
    z-index: 50;
      @include media ("screen", "<=phone") {
        height: 65px;
        width: 65px;
      }
  }
  .linktext{
    position: relative;
    z-index: 50;
    width: 400px;
    transform: translate(12px, 28.8px);
    font-size: 1.8rem;
    font-weight: 700;
    color: #1d031f;
    mix-blend-mode: difference;
      
    @include media ("screen", "<=phone") {
      width: 250px;
      top: 0.3rem;
      left: 0;
      font-size: 1.4rem;
      position: relative;
      z-index: 100;
      }
    }
  }
}/*end bodyspace style*/
}
 
/*end posterwarp style*/
.pDeck{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  padding: 8rem 0;
  background-color: lighten($lightergraypurple, 18%);
  @include media ("screen", "<=phone") {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 5rem 2rem 3rem 2rem;
  }
  .mobileExplorepDeck{
    visibility: hidden;
    display: none;
    position: relative;
    @include media ("screen", "<=phone") {
      visibility: visible;
      display: flex;
      left: -1.5rem;
      padding-bottom: 1rem;
      opacity: 0.4;
    }
    h3{
      @include media ("screen", "<=phone") {
        font-weight: 1.3rem;
      }
    }
  }  
  img{
    width: 99vw;
    padding: 2rem;
    position: relative;
    @include media ("screen", "<=phone") {
        width: 270%;
      }  
  }
}

.endsec {
  height: 115vh;
  padding: 5rem 0 8rem 0;
  background: linear-gradient(rgba(253, 251, 253, 0), #180725 100%);
  position: relative;

  @include media ("screen", "<=phone") {
    position: relative;
    height: 100%;
    padding: 4rem 1rem;
  }

  .imgNext{
    @extend %galintrostyle;
    position: relative;
    z-index: 10;
    mix-blend-mode: luminosity;
    background-blend-mode: luminosity;

    @include media ("screen", "<=phone") {
      margin-top: 2rem;
      top: 0;
     }
     .endseccontent{
      position: absolute;
      top: 1rem;
      left: 26%;
       @include media ("screen", "<=phone") {
        left: 4%;
       }
       img{
        width: 45%;
        opacity: 0.6;
        mix-blend-mode: luminosity;
        background-blend-mode: luminosity;

      
        @include media ("screen", "<=phone") {
          width: 90%;
         }
      }
     }
     .endSec1{
      @extend %galintrostyle;
      height: 115vh;
      width: 100vw;
      text-align: center;
      position: relative;
      top: -5rem;
      @include media ("screen", "<=phone") {
        height: 60vh;
  
        top: 0;
        left: 0;
       }
       h1, h2{
        font-size: 6rem;
        display: inline-flex;
        color: $lightergraypurple;
        @include media ("screen", "<=phone") {
          font-size: 2.5rem;
         }
       }
       .ontop{
        position: relative;
        z-index: 20;
        margin-right: 1.5rem;
      }
      .ontopD{
        position: relative;
        z-index: 20;
        margin-right: 3rem;
      }
      .ontopGshoots{
        position: relative;
        z-index: 20;
        margin-right: 0;
      }

      .circusEndSecOnly{
        h1, h2{
          @include media ("screen", "<=phone") {
            font-size: 2.1rem;
           }
         }
      }

      .mobileBacktoGallery{
        @include media ("screen", "<=phone") {
          h1, h2{
            font-size: 2.2rem;
          }
          .ontopLastOption{
            position: relative;
            z-index: 20;
            margin-left: 1rem;
           }
         }
       }

     }
  }
}
.endNext{
 @extend %galintrostyle;
 overflow: hidden;
  height: 115vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  @include media ("screen", "<=phone") {
    height: 80vh;
   }

  .alignLinkBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 45%;
    position: relative;
    top: 5rem;
    @include media ("screen", "<=phone") {
      left: -1rem;
     }
  }
}
/***Credits to https://codepen.io/sego/pen/bQZKwP for button effect**/
.link {
  $self: &;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transform: rotate(180deg);
  position: relative;
  height: 100%;
  z-index: 100;

 
  &__arrow {
    display: inline-flex;

    span {
      position: relative;
      width: 14px;
      height: 3px;
      border-radius: 2px;
      overflow: hidden;
      background: lighten($purple, 12%);
      z-index: 2;

      @include media ("screen", "<=phone") {
        background: darken($lightergraypurple, 15%);
       }

      &:nth-child(1) {
        transform-origin: left bottom;
        transform: rotate(45deg) translate3d(8px, -10px, 0);
      }

      &:nth-child(2) {
        transform-origin: left bottom;
        transform: rotate(-45deg);
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 3px;
        background: $lightergraypurple;
      }
    }
  }

  &__line {
    position: relative;
    margin-left: -14px;
    margin-right: 30px;
    width: 150px;
    height: 3px;
    overflow: hidden;
    background: lighten($purple, 12%);
    z-index: 1;

    @include media ("screen", "<=phone") {
      background: darken($lightergraypurple, 15%);
     }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 80px;
      width: 80px;
      height: 3px;
      background: $lightergraypurple;

      @include media ("screen", "<=phone") {
        display: none;
       }
    }
  }
  &:hover {
    #{$self} {
      &__line {
        &:after {
          animation: animation-line 1.2s forwards;
          @include media ("screen", "<=phone") {
            animation: none;
           }
        }
      }

      &__arrow {
        span {
          &:after {
            animation: animation-arrow 1.2s forwards;
            animation-delay: 1s;

            @include media ("screen", "<=phone") {
              animation: none;
             }
          }
        }
      }
    }
  }
}

@keyframes animation-line {
  0% {
    left: 100px;
  }

  100% {
    left: 0;
  }
}

@keyframes animation-arrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
