.nav a.navlinks {
  color: #3c4652; }

.nav a.navlinks:hover {
  color: #6b1bac;
  text-decoration: underline; }

.section {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-x: hidden; }

.portfolio {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #1F242D;
  overflow: hidden; }

.portfolio h2 {
  position: absolute;
  text-transform: uppercase;
  top: 13%;
  font-size: 27rem;
  letter-spacing: -1.5rem;
  -webkit-text-stroke: 1px #AC9FB2;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  opacity: 0.4;
  text-align: center;
  mix-blend-mode: color-dodge; }

@media screen and (max-width: 430px) {
  .portfolio h2 {
    font-size: 10rem;
    top: 35%;
    left: -3rem; } }

@media screen and (max-width: 430px) {
  .portfolio .wwv {
    font-size: 10rem;
    top: 5%; } }

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden; }

.panel {
  height: 100%;
  display: flex;
  flex: 0 0 60%;
  padding: 0.5rem;
  margin-left: 2rem;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden; }

@media screen and (max-width: 430px) {
  .panel {
    flex: 0 0 95%; } }

.panel:nth-of-type(even) {
  position: relative;
  z-index: -1; }

#landscape {
  flex: 0 0 80%; }

@media screen and (max-width: 430px) {
  #landscape {
    flex: 0 0 190%; } }

.panel_item {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.panel_img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain; }

.galleryShows {
  position: relative;
  overflow-x: hidden; }

.galleryShows .spacer {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 2rem 3rem 4rem 3rem;
  background: #acacac7a url("../images/floating.gif") no-repeat center center/cover;
  background-blend-mode: darken; }

@media screen and (max-width: 430px) {
  .galleryShows .spacer {
    padding: 5rem;
    height: 100vh;
    text-align: center; } }

.galleryShows .spacer h1 {
  font-size: 7rem;
  opacity: 0.9;
  letter-spacing: 0.5rem;
  mix-blend-mode: exclusion;
  color: #ffefd7;
  text-align: center; }

@media screen and (max-width: 430px) {
  .galleryShows .spacer h1 {
    font-size: 6rem; } }

@media screen and (max-width: 430px) {
  .galleryShows .spacer .wwSep, .galleryShows .spacer .winterDec {
    font-size: 3rem;
    letter-spacing: 0.2rem; } }

.galleryShows .endsec {
  height: 110vh;
  background-color: rgba(164, 157, 177, 0.712);
  justify-content: center;
  align-items: center;
  align-content: center; }

@media screen and (max-width: 430px) {
  .galleryShows .endsec {
    height: 100%;
    padding: 3rem 1rem; } }

.galleryShows .endsec .imgNext {
  position: relative;
  left: 12%;
  top: 8%; }

@media screen and (max-width: 430px) {
  .galleryShows .endsec .imgNext {
    top: 10%; } }

.galleryShows .endsec .imgNext .winterEndsec {
  margin-left: 7rem; }

@media screen and (max-width: 430px) {
  .galleryShows .endsec .imgNext .winterEndsec {
    width: 110%;
    margin-left: 0;
    margin-bottom: 0; } }

.galleryShows .endsec .imgNext .winterEndarrow {
  margin-top: 5rem; }

@media screen and (max-width: 430px) {
  .galleryShows .endsec .imgNext .winterEndarrow {
    margin-top: 1rem; } }

.galleryShows .endsec .imgNext .worksec {
  width: 100%;
  margin-left: 14rem;
  margin-bottom: 3rem; }

@media screen and (max-width: 430px) {
  .galleryShows .endsec .imgNext .worksec {
    width: 130%;
    margin-left: 1.8rem;
    margin-bottom: 0; } }

.yearlyShows {
  position: relative;
  overflow-x: hidden; }

.yearlyShows .spacer {
  height: 110vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }

@media screen and (max-width: 430px) {
  .yearlyShows .spacer {
    height: 100vh;
    text-align: center; } }

.yearlyShows .spacer h1 {
  padding: 15rem 3rem 4rem 3rem;
  font-size: 7rem;
  opacity: 0.9;
  letter-spacing: 0.5rem;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-align: center;
  color: #ffefd7; }

@media screen and (max-width: 430px) {
  .yearlyShows .spacer h1 {
    padding: 8rem 2rem 4rem 2rem;
    font-size: 4rem; } }

.yearlyShows .spacer span {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 600; }

@media screen and (max-width: 430px) {
  .yearlyShows .spacer span {
    font-size: 2.5rem; } }

@media screen and (max-width: 430px) {
  .yearlyShows .spacer .tmmrwShowh1 {
    font-size: 4rem; } }

.yearlyShows .circusSpacer {
  background: #acacac7a url("../images/circusShowBg.gif") no-repeat center center/1500px;
  background-blend-mode: darken; }

.yearlyShows .gallerySpacer {
  background: #b9b2b2ce url("../images/thegalleryBg1.gif") repeat top center/contain;
  background-blend-mode: darken;
  width: 100vw; }

.yearlyShows .tomorrowSpacer {
  background: #4b4146bb url("../images/tomorrowBg.gif") no-repeat center center/cover;
  background-blend-mode: soft-light; }

.yearlyShows .endsec {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  background: #9786a3 url("../images/prevshow.svg") no-repeat center center/cover;
  background-blend-mode: color-burn; }

@media screen and (max-width: 430px) {
  .yearlyShows .endsec {
    height: 100%;
    padding: 1rem; } }

.yearlyShows .secContent h1 {
  font-size: 7vw;
  top: 30%;
  mix-blend-mode: normal;
  color: #d9cedf;
  text-align: center; }

@media screen and (max-width: 430px) {
  .yearlyShows .secContent h1 {
    font-size: 8vw;
    margin-bottom: 0.5rem; } }

.yearlyShows .secContent .showNxt {
  position: relative;
  top: 9rem;
  left: -9rem; }

@media screen and (max-width: 430px) {
  .yearlyShows .secContent .showNxt {
    top: -0.2rem;
    left: -4rem; } }

/***Credits to https://codepen.io/sego/pen/bQZKwP for button effect**/
.link {
  display: inline-flex;
  align-items: center;
  padding: 3rem 5rem;
  text-decoration: none;
  transform: rotate(180deg) translate3d(-300px, 0, 0);
  height: 10%;
  position: relative;
  top: -12rem;
  left: 13.5%; }

@media screen and (max-width: 430px) {
  .link {
    top: -1rem;
    left: -55.5%;
    padding: 3rem; } }

.link__arrow {
  display: inline-flex; }

.link__arrow span {
  position: relative;
  width: 14px;
  height: 3px;
  border-radius: 2px;
  overflow: hidden;
  background: #6e4eaa;
  z-index: 2; }

.link__arrow span:nth-child(1) {
  transform-origin: left bottom;
  transform: rotate(45deg) translate3d(8px, -10px, 0); }

.link__arrow span:nth-child(2) {
  transform-origin: left bottom;
  transform: rotate(-45deg); }

.link__arrow span:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #eb0037; }

@media screen and (max-width: 430px) {
  .link__arrow span:after {
    display: none; } }

.link__line {
  position: relative;
  margin-left: -14px;
  margin-right: 30px;
  width: 150px;
  height: 3px;
  background: #6e4eaa;
  overflow: hidden;
  z-index: 1; }

@media screen and (max-width: 430px) {
  .link__line {
    width: 90px; } }

.link__line:after {
  content: '';
  display: block;
  position: absolute;
  left: 80px;
  width: 80px;
  height: 3px;
  background: #ed2759; }

@media screen and (max-width: 430px) {
  .link__line:after {
    display: none; } }

.link:hover .link__line:after {
  animation: animation-line 1.2s forwards; }

@media screen and (max-width: 430px) {
  .link:hover .link__line:after {
    animation: none; } }

.link:hover .link__arrow span:after {
  animation: animation-arrow 1.2s forwards;
  animation-delay: 1s; }

@media screen and (max-width: 430px) {
  .link:hover .link__arrow span:after {
    animation: none; } }

@keyframes animation-line {
  0% {
    left: 100px; }
  100% {
    left: 0; } }

@keyframes animation-arrow {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
