@import 'colors'; 
@import 'breakpoints'; 


%circle {
  height: 500px;
  background: url('../images/gallery-circle.svg') no-repeat center center;
  background-size: 90%;
}

%centeralignMobile{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*****Gallery home****/

.editorial{
  @extend %centeralignMobile;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.614)), url('../images/editorialCover.webp') no-repeat center center/ cover, url('../images/editorialCover.png') no-repeat center center/ cover;
  height: 100vh;
  position: relative;

  @include media ("screen", "<=phone") {
    height: 100%;
    padding: 14rem 0;
  }
}

.shows {
  @extend %centeralignMobile;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(41, 41, 41, 0.614)),url('../images/the_gallery/galleryshowpat.webp') no-repeat center center/cover, url('../images/the_gallery/galleryshowpat.png') no-repeat center center/cover;
  height: 100vh;

   @include media ("screen", "<=phone") {
    height: 100%;
    padding: 14rem 0;
  }
}

.wrapper {
  overflow: hidden;
  position: relative;

  @include media ("screen", "<=phone") {
    height: 100%;
    width: 105vw;
  }
  a{
    cursor: none;
  }
  .linkbox{
    position: relative;
    z-index: 400;
    text-align: center;
    overflow: hidden;

    @include media ("screen", "<=phone") {
      top: 1em;
      left: 0.2em;
    }

    h1{
      font-size: 5.2rem;
      color: $pinkish;
      letter-spacing: 2px;
      mix-blend-mode: overlay;
      z-index: 400;

      @include media ("screen", "<=phone") {
        font-size: 3rem;
        mix-blend-mode: hard-light;
        text-decoration: underline;
      }

      &:hover{
        transition: all 800ms ease-in-out;
        -webkit-text-stroke: 2px $pinkish;
        -webkit-text-fill-color: transparent; 
      }
    }
  }
}

/***************Editorial/Shows****************/
/***************Editorial/Shows****************/
/***************Editorial/Shows****************/

.editorialwrapper, .show-wrapper{
  height: 100%;
  width: 100vw;
  overflow: hidden;
  padding-bottom: 4rem;
  padding-top: 8rem;
  background: lighten($lightergraypurple, 10%);

  .sectionBox {
    @extend %centeralignMobile;
    height: 100vh;
    width: 100vw;
  }


  .left, .right, .sleft, .sright{
    @extend %centeralignMobile;
    height: 90%;
    overflow: hidden;

    img{
      height: 78%;
      position: relative;
      border-radius: 5px;
    }
    .img1{
      position: relative;
      align-self: flex-start;
      top: 1rem;
    }
    .img2{
      position: relative;
      align-self: flex-end;
    }
    picture{
      @extend %centeralignMobile;
      height: 100%;
      width: 40vw;
      padding: 3rem 2rem;
  
      img{
        border-radius: 5px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      .img1E{
        position: relative;
        bottom: 8%;
      }
      .img2E{
        position: relative;
        top: 8%;
      }
    }
  }


  .description{
    height: 499px;
    width: 100%;
    background: url('../images/gallery-circle.svg') no-repeat center center/ 90%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    .header{
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      border-radius: 50%;
      height: 380px;
      width: 370px;
      overflow: hidden;
    }
  
    h1{
      color: $purple;
      font-size: 3.3rem;
      letter-spacing: 0.2rem;
      width: 100%;

      &:hover{
          transition: all 400ms ease-in-out;
          -webkit-text-stroke: 1.5px $purple;
          -webkit-text-fill-color: transparent; 
        }
      }
      .halloweenH1{
        font-size: 2.8rem;
      }

    h3{
      font-weight: 400;
      font-size: 2rem;
      position: relative;
      font-family: 'Montserrat', sans-serif;
      top: -0.8rem;
    }

    .svg-line{
      position: absolute;
      left: 50%;
      top: 93%
    }
  }
}


/*******Mobile Editorial/Shows**********/
/*******Mobile Editorial/Shows**********/
/*******Mobile Editorial/Shows**********/

.editorialwrapperSM, .show-wrapperSM{
  height: 100%;
  width: 100vw;
  overflow: hidden;
  padding: 7rem 0 0 0;
  background: lighten($lightergraypurple, 8%);

  .introE{
    @extend %centeralignMobile;
    padding: 2rem 0;
    text-align: center;
    width: 95vw;
    margin-left: 0.5rem;
    color: $darkpurple;
    position: relative;
    top: -1rem;

    h1{
      font-size: 3.5rem;
    }

    p{
      font-size: 1.3rem;
      position: relative;
      top: -1.8rem;
    }
  }

  .editorialSection{
    @extend %centeralignMobile;
    overflow: hidden;
    padding: 1rem 0;
  }
  .imgContainer{
    position: relative;
    z-index: 1;
    img{
      height: 480px;
      width: 100%;
      object-fit: contain;
    }
  }
  .showSection{
    @extend %centeralignMobile;
    overflow: hidden;
  }
  .imgContainer{
    position: relative;
    z-index: 1;
    img{
      height: 480px;
      width: 100%;
      object-position: center;
      object-fit: cover;

    }
  }

  .circleGallery{
    height: 215px;
    width: 215px;
    border-radius: 50%;
    position: absolute;
    z-index: 200;
    background-color: #7a4c65b2;
    mix-blend-mode: difference;
  } 
  .title{
    position: absolute;
    z-index: 200;
    border: 2.5px solid $graypurple;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 1.5rem 0.5rem;
    overflow: hidden;
  }  
  .titleHeader{
    @extend %centeralignMobile;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 200;

    h1, h3{
      color: $heading;
      mix-blend-mode: normal;
    }
    h3{
      position: relative;
      margin-bottom: 10px;
      font-size: 1.3rem;
      font-weight: 300;
    }
    h1{
      font-size: 2rem;
      margin-bottom: 0.3rem;
      position: relative;
    }
    .scaleDowntxtShow{
      font-size: 1.5rem;
  }
  }
  .tlLine{
    border: 1px solid $purple;
    background-color: white;
    position: absolute;
    transform: translate(0, 260px);
    width: 3px;
    height: 220px;
    padding: 8.82rem 0;
    z-index: 2;
  }
  .navEdShow{
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    padding: 1rem 0;

    .nvLinkbox{
      padding: 3rem;
    
    }
      h5{
        font-size: 1rem;
        color: $muave;
        border-top: 1px solid rgba(184, 102, 184, 0.5);
        border-bottom: 1px solid rgba(184, 102, 184, 0.5);
        padding: 0.6rem 0;
      }  
  }

}


