.pitchWrap .posterWrap, .pitchWrap .posterWrapBody, .pitchWrap .pDuo, .pitchWrap .countdown, .pitchWrap .showVideo, .pDeck, .endsec .imgNext, .endsec .imgNext .endSec1, .endNext {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden; }

.galleryShows {
  position: relative;
  overflow-x: hidden; }
  .galleryShows .spacer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 2rem 3rem 4rem 3rem;
    background-image: linear-gradient(180deg, #7e7491 0%, #ece6ee 100%);
    background-blend-mode: lighten; }
    @media screen and (max-width: 430px) {
      .galleryShows .spacer {
        padding: 5rem;
        height: 100vh;
        text-align: center;
        background-position: center 55%; } }
    .galleryShows .spacer h1 {
      font-size: 7rem;
      opacity: 0.9;
      letter-spacing: 0.5rem;
      mix-blend-mode: difference;
      color: #e7bcec;
      text-align: center; }
      @media screen and (max-width: 430px) {
        .galleryShows .spacer h1 {
          font-size: 14vw; } }
    @media screen and (max-width: 430px) {
      .galleryShows .spacer .longTxtEd {
        font-size: 3.1rem;
        letter-spacing: 0.2rem; } }

.yearlyShows {
  position: relative; }
  .yearlyShows .spacer {
    height: 99vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: linear-gradient(0deg, white 0%, #d8cad9 100%);
    padding: 3rem 0 0 0; }
    @media screen and (max-width: 430px) {
      .yearlyShows .spacer {
        height: 100vh;
        text-align: center; } }
    .yearlyShows .spacer h1 {
      font-size: 8vw;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      text-align: center;
      color: #594a69;
      margin: 0; }
      @media screen and (max-width: 430px) {
        .yearlyShows .spacer h1 {
          font-size: 3.7rem;
          color: #61526d; } }
    .yearlyShows .spacer h3 {
      margin-top: 2rem;
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      text-align: center;
      color: #ac9fb2; }
      @media screen and (max-width: 430px) {
        .yearlyShows .spacer h3 {
          font-size: 2rem; } }
    @media screen and (max-width: 430px) {
      .yearlyShows .spacer .tmmrwsh1 {
        font-size: 2.7rem;
        position: relative;
        top: -1.5rem; } }

.horizontalWrap {
  min-height: 100%;
  height: auto;
  width: 100%;
  position: relative;
  padding: 0;
  overflow-x: hidden; }
  .horizontalWrap .portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    background: white;
    overflow: hidden; }
  .horizontalWrap a {
    cursor: none; }
  .horizontalWrap .panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden; }
    @media screen and (max-width: 430px) {
      .horizontalWrap .panel {
        flex: 0 0 95%;
        margin-right: 1rem; } }
  .horizontalWrap #landscape {
    flex: 0 0 78%; }
    @media screen and (max-width: 430px) {
      .horizontalWrap #landscape {
        flex: 0 0 190%; } }
  .horizontalWrap .panel_item {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative; }
  .horizontalWrap .panel_img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain; }

.pitchWrap {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: white;
  overflow: hidden;
  /*for body and space style*/
  /*end bodyspace style*/ }
  .pitchWrap .posterWrap {
    height: 100vh;
    margin-bottom: 5rem; }
    .pitchWrap .posterWrap .posterimg {
      height: 100%;
      padding: 1rem 3rem;
      overflow: hidden; }
      .pitchWrap .posterWrap .posterimg img {
        width: 105%; }
    .pitchWrap .posterWrap h1 {
      font-size: 5rem;
      opacity: 0.2;
      color: #d9cedf;
      height: 100%;
      width: max-content; }
    .pitchWrap .posterWrap .promotxt1 {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      height: 100%;
      width: 100%;
      position: relative; }
      .pitchWrap .posterWrap .promotxt1 h1 {
        position: relative;
        transform: rotate(-90deg); }
    .pitchWrap .posterWrap .promotxt2 {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-self: stretch;
      height: 100%;
      width: 100%;
      position: relative; }
      .pitchWrap .posterWrap .promotxt2 h1 {
        transform: rotate(90deg);
        position: relative;
        top: 10rem;
        left: -13rem;
        height: 30%; }
  .pitchWrap .posterWrapBody {
    height: 100%;
    margin-bottom: 3rem; }
    .pitchWrap .posterWrapBody .posterimg {
      height: 100%;
      padding: 1rem 2rem;
      overflow: hidden; }
      .pitchWrap .posterWrapBody .posterimg img {
        width: 100%; }
  .pitchWrap .pDuo {
    margin-bottom: 3rem; }
    .pitchWrap .pDuo .duoCol img {
      width: 100%; }
  .pitchWrap .countdown {
    height: 100%;
    margin: 0 0 5rem 0;
    padding: 1.5rem 4rem;
    width: 100vw; }
    .pitchWrap .countdown .counterCol {
      margin: 0; }
      .pitchWrap .countdown .counterCol .countpic {
        width: 100%; }
    .pitchWrap .countdown .counterColCircus {
      margin: 0 0 2rem 0; }
      .pitchWrap .countdown .counterColCircus .countpicCircus {
        width: 100%; }
  .pitchWrap .showVideo {
    height: 100%;
    overflow: hidden;
    padding: 0 0 8rem 0;
    overflow: hidden; }
    .pitchWrap .showVideo .vidIntroTxt {
      align-self: flex-start;
      padding: 1rem 2rem;
      opacity: 0.5;
      overflow: hidden; }
      .pitchWrap .showVideo .vidIntroTxt h1 {
        color: #61526d;
        font-size: 5rem;
        margin: 0; }
      .pitchWrap .showVideo .vidIntroTxt h3 {
        color: #61526d;
        font-weight: bold;
        font-size: 2rem;
        margin: 1.3rem 0; }
    .pitchWrap .showVideo .videoContainer {
      padding: 0 1rem; }
      .pitchWrap .showVideo .videoContainer video {
        object-fit: contain; }
  .pitchWrap .showVideoBodySpace {
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    padding: 4rem 0 8rem 0; }
    .pitchWrap .showVideoBodySpace .vidIntroTxt {
      align-self: flex-start;
      padding: 1rem 2rem; }
      .pitchWrap .showVideoBodySpace .vidIntroTxt h1 {
        color: #1a2632;
        text-transform: uppercase;
        line-height: 3.7rem;
        font-size: 3.3rem;
        margin: 0; }
      .pitchWrap .showVideoBodySpace .vidIntroTxt p {
        color: #301f31;
        opacity: 0.7;
        font-weight: 600;
        font-size: 1.1rem;
        margin: 1.3rem 0; }
    .pitchWrap .showVideoBodySpace .videoContainerBody {
      padding: 0 2rem; }
      .pitchWrap .showVideoBodySpace .videoContainerBody video {
        width: 100%; }
    .pitchWrap .showVideoBodySpace .bodySpaceLink {
      margin-top: 2rem; }
    .pitchWrap .showVideoBodySpace .linkbtn {
      position: relative;
      z-index: 50;
      width: 400px;
      height: 100px;
      padding: 0 0.5rem;
      transition: transform 500ms ease-in-out;
      -webkit-transition: transform 500ms ease-in-out;
      -moz-transition: transform 500ms ease-in-out; }
      @media screen and (max-width: 430px) {
        .pitchWrap .showVideoBodySpace .linkbtn {
          position: relative;
          z-index: 100;
          width: 300px;
          height: 70px; } }
      .pitchWrap .showVideoBodySpace .linkbtn:hover {
        transform: translate3d(6px, 0, 0);
        -webkit-transform: translate3d(6px, 0, 0);
        -moz-transform: translate3d(6px, 0, 0); }
      .pitchWrap .showVideoBodySpace .linkbtn .circlelink {
        background: #5a025e;
        opacity: 0.5;
        background-blend-mode: difference;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        position: absolute;
        top: 1rem;
        left: -0.3rem;
        z-index: 50; }
        @media screen and (max-width: 430px) {
          .pitchWrap .showVideoBodySpace .linkbtn .circlelink {
            height: 65px;
            width: 65px; } }
      .pitchWrap .showVideoBodySpace .linkbtn .linktext {
        position: relative;
        z-index: 50;
        width: 400px;
        transform: translate(12px, 28.8px);
        font-size: 1.8rem;
        font-weight: 700;
        color: #5a025e;
        mix-blend-mode: difference; }
        @media screen and (max-width: 430px) {
          .pitchWrap .showVideoBodySpace .linkbtn .linktext {
            width: 250px;
            top: 1.1em;
            left: 1em;
            font-size: 1.1rem;
            position: relative;
            z-index: 100; } }

/*end posterwarp style*/
.pDeck {
  height: 100%;
  padding: 9rem 0;
  background-image: linear-gradient(180deg, white 0%, #665673 100%); }
  .pDeck img {
    width: 80vw;
    position: relative; }

/***Credits to https://codepen.io/sego/pen/bQZKwP for button effect**/
.endsec {
  height: 115vh;
  padding: 4rem 0;
  background-color: #665673;
  position: relative;
  /* .blurBg{
    position: absolute;
    height: 115vh;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: url('https://jordanhollinger.com/media/blur.svg');
    filter: blur(10px);
  }*/ }
  @media screen and (max-width: 430px) {
    .endsec {
      height: 100%;
      padding: 3rem 1rem; } }
  .endsec .imgNext {
    position: relative;
    z-index: 10;
    mix-blend-mode: luminosity;
    background-blend-mode: luminosity; }
    @media screen and (max-width: 430px) {
      .endsec .imgNext {
        margin-top: 2rem;
        top: 10%; } }
    .endsec .imgNext .endseccontent {
      position: absolute;
      top: 1rem;
      left: 26%; }
      @media screen and (max-width: 430px) {
        .endsec .imgNext .endseccontent {
          left: 6%; } }
      .endsec .imgNext .endseccontent img {
        width: 45%;
        opacity: 0.7;
        mix-blend-mode: luminosity;
        background-blend-mode: luminosity; }
        @media screen and (max-width: 430px) {
          .endsec .imgNext .endseccontent img {
            width: 90%; } }
    .endsec .imgNext .endSec1 {
      height: 115vh;
      width: 100vw;
      text-align: center;
      position: relative;
      top: -5rem; }
      @media screen and (max-width: 430px) {
        .endsec .imgNext .endSec1 {
          top: 9rem;
          left: 0; } }
      .endsec .imgNext .endSec1 h1, .endsec .imgNext .endSec1 h2 {
        font-size: 6rem;
        display: inline-flex;
        color: #d9cedf; }
        @media screen and (max-width: 430px) {
          .endsec .imgNext .endSec1 h1, .endsec .imgNext .endSec1 h2 {
            font-size: 2.5rem; } }
      .endsec .imgNext .endSec1 .ontop {
        position: relative;
        z-index: 20;
        margin-right: 1.5rem; }
      .endsec .imgNext .endSec1 .ontopD {
        position: relative;
        z-index: 20;
        margin-right: 3rem; }
      .endsec .imgNext .endSec1 .ontopGshoots {
        position: relative;
        z-index: 20;
        margin-right: 0; }
      @media screen and (max-width: 430px) {
        .endsec .imgNext .endSec1 .winterh1 {
          font-size: 3.5rem; } }

.endNext {
  overflow: hidden;
  height: 115vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }
  .endNext .alignLinkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 45%;
    position: relative;
    top: 5rem; }

/***Credits to https://codepen.io/sego/pen/bQZKwP for button effect**/
.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transform: rotate(180deg);
  position: relative;
  height: 100%;
  z-index: 100; }
  .link__arrow {
    display: inline-flex; }
    .link__arrow span {
      position: relative;
      width: 14px;
      height: 3px;
      border-radius: 2px;
      overflow: hidden;
      background: #51187a;
      z-index: 2; }
      .link__arrow span:nth-child(1) {
        transform-origin: left bottom;
        transform: rotate(45deg) translate3d(8px, -10px, 0); }
      .link__arrow span:nth-child(2) {
        transform-origin: left bottom;
        transform: rotate(-45deg); }
      .link__arrow span:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 3px;
        background: #d9cedf; }
        @media screen and (max-width: 430px) {
          .link__arrow span:after {
            display: none; } }
  .link__line {
    position: relative;
    margin-left: -14px;
    margin-right: 30px;
    width: 150px;
    height: 3px;
    overflow: hidden;
    background: #51187a;
    z-index: 1; }
    @media screen and (max-width: 430px) {
      .link__line {
        width: 90px; } }
    .link__line:after {
      content: '';
      display: block;
      position: absolute;
      left: 80px;
      width: 80px;
      height: 3px;
      background: #d9cedf; }
      @media screen and (max-width: 430px) {
        .link__line:after {
          display: none; } }
  .link:hover .link__line:after {
    animation: animation-line 1.2s forwards; }
    @media screen and (max-width: 430px) {
      .link:hover .link__line:after {
        animation: none; } }
  .link:hover .link__arrow span:after {
    animation: animation-arrow 1.2s forwards;
    animation-delay: 1s; }
    @media screen and (max-width: 430px) {
      .link:hover .link__arrow span:after {
        animation: none; } }

@keyframes animation-line {
  0% {
    left: 100px; }
  100% {
    left: 0; } }

@keyframes animation-arrow {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
