@import 'colors'; 
@import 'breakpoints'; 

%gallerycontent {
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
%circle {
  height: 500px;
  background: url('../images/gallery-circle.svg') no-repeat center center;
  background-size: 90%;
}

%centeralignMobile{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*****Gallery home****/

.wrapper {
  background-color: black;
  height: 110vh;
  width: 101.2vw;

  @include media ("screen", "<=phone") {
    height: 100%;
    width: 105vw;
  }


  .linkbox{
    position: relative;
    top: 19rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include media ("screen", "<=phone") {
      top: 1em;
      left: 0.2em;
  
    }

    h1{
      font-size: 5.2rem;
      opacity: 0.9;
      color: $heading;
      letter-spacing: 2px;
      mix-blend-mode: normal;

      @include media ("screen", "<=phone") {
        font-size: 3rem;
        mix-blend-mode: hard-light;
        text-decoration: underline;
      }

      &:hover{
        transition: all 800ms ease-in-out;
        -webkit-text-stroke: 2px $heading;
        -webkit-text-fill-color: transparent; 
      }
    }
  }
}

.editorial{
  background: url('../images/surya.webp') no-repeat 70% 40%;
  height: 110vh;
  background-size: cover;

  @include media ("screen", "<=phone") {
    height: 100%;
    padding: 10rem 0;
  }
}

.shows {
  background: linear-gradient( rgba(31, 31, 31, 0.3), rgba(0, 0, 0, 0.5) ), url('../images/fadsshow.webp') no-repeat 50% 38%;
  height: 110vh;
  background-size: 200%;

   @include media ("screen", "<=phone") {
    height: 100%;
    padding: 10rem 0;
  }
}

/***************Editorial/Shows****************/
/***************Editorial/Shows****************/
/***************Editorial/Shows****************/

.editorialwrapper, .show-wrapper{
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: 2rem;
  margin-top: 8rem;

  .left, .right, .sleft, .sright{
    height: 90%;
    overflow: hidden;
  }

  img{
    width: 74%;
    position: relative;
    left: 3.7rem;
    border-radius: 5px;
  }
  .img1{
    position: relative;
    top: 1rem;
  }
  .img2{
    position: relative;
    top: 7rem;
  }
  .description{
    height: 500px;
    background: url('../images/gallery-circle.svg') no-repeat center center;
    background-size: 90%;
    margin-top: 1rem;
    align-self: center;

    h1{
      color: $text;
      font-size: 3.3rem;
      letter-spacing: 0.2rem;
      text-align: center;
      margin-top: 0.5rem;
      width: 100%;
      mix-blend-mode: darken;

      &:hover{
          transition: all 400ms ease-in-out;
          -webkit-text-stroke: 1.5px $purple;
          -webkit-text-fill-color: transparent; 
        }
      }
    h3{
      font-weight: 400;
      font-size: 1.7rem;
      margin-top: 1rem;
    }
    .svg-line{
      position: absolute;
      left: 50%;
      top: 93%
    }
    .header{
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      top: 35%;
      left: 14%;
      text-align: center;
      border-radius: 30%;
      width: 80%;
    }
  }
  
  .aline, .jerk,.winter, .thegallery, .circus{
    @extend %gallerycontent;
  }
  .vintage{
    @extend %gallerycontent;

      .vintage-header{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        top: 21%;
        left: 13%;
        text-align: center;
        border-radius: 30%;
        width: 80%;
        
        h1{
          flex-wrap: wrap;
          font-size: 3.1rem;
        }
      }
      .exception-img2{
        position: relative;
        top: 10rem;
        width: 80%;
      }
    }
  .land{
    @extend %gallerycontent;
        h1{
          flex-wrap: wrap;
          position: relative;
          font-size: 2.7rem;
          left: -4%;
        }
      }
}

/*******Mobile Editorial/Shows**********/
/*******Mobile Editorial/Shows**********/
/*******Mobile Editorial/Shows**********/

.editorialwrapperSM, .show-wrapperSM{
  height: 100%;
  width: 100vw;
  overflow: hidden;
  padding: 7rem 0 0 0;
  background: lighten($lightergraypurple, 8%);

  .introE{
    @extend %centeralignMobile;
    text-align: center;
    width: 95vw;
    margin-left: 0.5rem;
    color: $darkpurple;
    position: relative;
    top: -1rem;

    h1{
      font-size: 3.5rem;
    }
    p{
      font-size: 1.3rem;
      position: relative;
      top: -1.8rem;
    }
  }

  .editorialSection{
    @extend %centeralignMobile;
    overflow: hidden;
  }
  .imgContainer{
    position: relative;
    z-index: 1;
    img{
      height: 480px;
      width: 100%;
      object-fit: cover;
    }
  }
  .showSection{
    @extend %centeralignMobile;
    overflow: hidden;
  }
  .imgContainer{
    position: relative;
    z-index: 1;
    img{
      height: 480px;
      width: 100%;
      object-fit: cover;
    }
  }

  .circleGallery{
    height: 215px;
    width: 215px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    background-color: #FFD6BE;
    mix-blend-mode: exclusion;
  } 
  .title{
    position: absolute;
    z-index: 3;
    border: 2.5px solid $graypurple;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 1.5rem 0.5rem;
    overflow: hidden;
  }  
  .titleHeader{
    @extend %centeralignMobile;
    height: 100%;
    position: relative;
    text-align: center;
    h1, h3{
      color: $heading;
      mix-blend-mode: normal;
    }
    h3{
      position: relative;
      top: 0.8rem;
      margin-bottom: 10px;
      font-size: 1.3rem;
    }
    h1{
      font-size: 2rem;
      position: relative;
      top: -0.5rem;

    }
  }
  .tlLine{
    border: 1px solid $graypurple;
    background-color: $graypurple;
    position: absolute;
    transform: translate(0, 240px);
    width: 3px;
    height: 180px;
    padding: 8.82rem 0;
    z-index: 2;
  }
  .navEdShow{
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    padding: 1rem 0;

    .nvLinkbox{
      padding: 3rem;
    
    }
      h5{
        font-size: 1rem;
        color: $muave;
        border-top: 1px solid rgba(184, 102, 184, 0.5);
        border-bottom: 1px solid rgba(184, 102, 184, 0.5);
        padding: 0.6rem 0;
      }  
  }

}


