 
 html, body {
  height: 100%;
  scrollbar-width: none;
}
.parentwrapper{
  position: relative;
  max-height: 100%;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 7rem 0 0 0;

  .maincontentwrap{
    height: 100%;
    margin-bottom: 1rem;
  }
}
 .navwrapper {
  position: relative;
  padding: 0 0 0 1rem;
  margin: 0 0.8rem;
  background-color: transparent;
  a{
    padding-left: 3rem;
  }
}

.nav{
  display: flex;
  color: #1E2630; 
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex: 1;
  position: relative;
}
.nav {
  a.navlinks {
    color: #1E2630;
    font-weight: 400;
    border-bottom: 2px solid transparent;

    &::after {
      content: "";
      height: 2px;
      width: 0;
      position: relative;
      left: 2.8rem;
      background-color: #3B1658;
      display: block;
      transition: width 1s;
    }
  }

  a.navlinks:hover::after {
    color: rgb(43, 3, 51);
    width: 63%;
    transition: width 1s;
  }
}

.logo{
  width: 78%;
  opacity: 0.8;
  margin-left: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.splashwrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161515;
  transition: 3s ease-in-out;
  overflow: hidden;

  .splash{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    width: 100%;
    margin: -2rem auto 1rem auto;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  background-color: #F8F7FA;
  color: #1E2630;
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
  padding: 2rem auto; 

}

.header.shadow {
  box-shadow: 0 2px 2px -5px rgba(80, 80, 80, 0.13); }

.header.hidden {
  transform: translateY(-127%); }

/*************FOOTER**********************//*************FOOTER**********************/
/*************FOOTER**********************//*************FOOTER**********************/

.container{
 background: url('../images/footerbg.svg') no-repeat left top;
  background-size: 1450px;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  max-height: 73vh;
  height: 100vh;
  padding: 5rem 0.5rem 0 0.5rem;
  margin-top: 2rem;
 
  .footer_row{
    width: 100%;
    margin-top: -2rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
  }
  .first{
    padding: 0 4rem;
    margin-top: 3rem;
    height: 100%;
  
    .fads{
      margin-top: 2rem;
      h4{
        position: relative;
        font-weight: 300;
        line-height: 3.6rem;
        width: 50%;
        font-size: 2rem;
        color: #1A2632;
      }
      span{
        font-weight: 200;
        position: relative;
        font-size: 1.6rem;
        color: #1A2632;
      }
    }

    .social{
      display: flex;
      flex: 1;
      justify-content: space-evenly;
      align-self: space-between;
      align-content: space-between;
      margin: 3.5rem 0.3rem 0 0.5rem;

      &:not(.not){
        border-left: 0.5px solid rgb(190, 157, 212);
      }
    }
  
  
  }
  .second{
    position: relative;
    left: -2.4rem;
    margin-top: 3rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem 1.5rem 2rem;
    text-transform: uppercase;
   
    h1{
      color: #663b8a;
      font-size: 5.3rem;
    }
  
    .emailus{
      margin-top: 2rem;
      position: relative;
      top: 3.5rem;
      h3{
        width: 60%;
        position: relative;
        letter-spacing: 0.4rem;
        color: #1A2632;
        opacity: 0.6;
        font-size: 1.3;
      }
      a{
        margin-top: 5rem;
        letter-spacing: 0.3rem;
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
    
  }
}

/*************FOOTER SMALL**********************//*************FOOTER SMALL**********************/
/*************FOOTER SMALL**********************//*************FOOTER SMALL**********************/

.container-sm{
  background: url('../images/footer-small.svg') no-repeat left top;
  background-size: 1500px;
  height: 100%;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  padding: 1rem 0.3rem 1.7rem 0.3rem ;
  margin-top: 2rem;
} 
.footer_row-sm{
  width: 100vw;
  height: 100%;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}
.first-sm{
  height: 100%;
  padding: auto 2rem auto 3rem;
  .fads{
    padding: 1rem 1rem 0 1rem;
    h4{
      font-weight: 400;
      font-size: 1.4rem;
      color: #1A2632;
    }
    span{
      font-weight: 200;
      position: relative;
      font-size: 1.1rem;
      color: #1A2632;
    }
}}
.media{
  width: 60%;
  margin-top: 1rem;
  .social-sm{
    display: flex;
    justify-content: space-evenly;
    align-self: space-between;
    align-content: space-between;
    padding-left: 1.3rem;
    margin: 0.5rem 1rem 0 0.5rem;

    &:not(.except){
      border-left: 0.5px solid rgba(190, 157, 212, 0.527);
    }
  }
}
.second-sm{
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: uppercase;

  .contact{
    float: right;
    text-align: right;
    width: 100%;
    h3{
      letter-spacing: 0.2rem;
      font-weight: 400;
      color: #1A2632;
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }
    a{
      letter-spacing: 0.2rem;
      font-size: 1.1rem;
      font-weight: 300;
    }
  }  
}
.spinner{
  height: 50vh;
  position: relative;
  top: 6rem;
  left: 20rem;
}

