.mobilenavWrapper{
    will-change: transform;
    position: fixed;
    top: 10px;
    padding-top: 0.5rem;
    margin-top: -0.8rem;
    z-index: 400;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: flex-start;
    height: inherit;
    max-height: 100vh;
    width: 100vw;

    .smLogo{
        margin: 1.5rem;
        position: fixed;
        img{
        width: 23%;
        }
    }

  .nav {
    width: 100vw;
    position: absolute;
    margin-top: -0.5rem;
    padding-top: 0.5rem;
    z-index: 100;
    visibility: hidden;
    background-color: #917d9b;
    will-change: transform;

    .showmenu & {
        background-color: #917d9b;
        visibility: visible;
        position: relative;
        z-index: 600;
    }
  }
  
  .nav-content {
    width: 100vw;
    height: 102vh;
    overflow: hidden;
    color:#fff4e4;
    opacity: 0.8;

    .nav-inner {
        margin: 4rem 1rem 1rem 0.5rem;
    }
        
    .nav-item {
        list-style: none;
        font-size: 1.7rem;
        color:#eae0fd;
        font-family: "Vipnagorgialla", "Raleway", sans-serif;

        li{
            margin-bottom: 1.2rem;
            text-decoration: underline;
            text-decoration-color: #ffe4d8;
        }
    }
    .nav-info{
        margin: 3rem auto 1rem auto;
    }
    .nav-info-item {
        color:#d9cfec;
        list-style: none;
        font-size: 0.8rem;
        a{
            color:#e7b6f3;
            font-size: 0.9rem;
        }
    }
    .smNavsocial{
        margin: 2rem auto auto 2.6rem;
        width: 75%;
        .smSocial{
            opacity: 0.8;
            margin-right: 3rem;
            img{
               height: 30px;
            }
        }
    }
  } 
}
.burger {
    margin-top: 2.5rem;
    right: 2.5rem;
    display: grid;
    justify-self: end;
    position: fixed;
    z-index: 200;
    cursor: pointer;

        &__line {
            margin-bottom: 5px;
            width: 30px;
            height: 3px;
            background: rgb(129, 110, 151);
            border-radius: 2px;
            transform-origin: left center;
            transition: all 0.4s ease-in-out;
            filter: contrast(150%) brightness(1.4);

            &:first-of-type {
                .open & {
                    transform: rotate(44deg) translate3d(-2px,0,0);
                    background-color: #eae0fd;
                    opacity: 0.5;
                }
            }

            &:nth-of-type(2) {
                width: 18px;
                .open & {
                    opacity: 0;
                }
            }

            &:last-of-type {
                .open & {
                    transform: rotate(-44deg) translate3d(-4px, 0, 0);
                    background-color: #eae0fd;
                    opacity: 0.5;
                }
            }
        }
    }
    
  