.mobilenavWrapper{
    position: fixed;
    transform: translateX(0);
    z-index: 150;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: start;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
    .smLogo{
        margin: 1.5rem;
        position: fixed;
        z-index: 100;
        img{
        width: 23%;
        }
    }

  .nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #917d9b;
    backdrop-filter: blur(20px);
  }
  
  .nav-content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color:#fff4e4;
    backdrop-filter: blur(10);

    .nav-inner {
        margin: 5rem 1rem 1rem 0.5rem;
    }
        
    .nav-item {
        list-style: none;
        font-size: 2rem;
        font-weight: 500;
        color:#eae0fd;
        font-family: "Vipnagorgialla", "Raleway", sans-serif;

        li{
            margin-bottom: 1.2rem;
            text-decoration: underline;
            text-decoration-color: #ffe4d8;
        }
    }
    .nav-info{
        margin: 4rem auto;
    }
    .nav-info-item {
        color:#d2c5eb;
        list-style: none;
        font-size: 1rem;
        a{
            color:#e7b6f3;
            font-size: 0.9rem;
        }
    }
    .smNavsocial{
        margin: 0 auto auto 2.6rem;
        width: 65%;
        .smSocial{
            margin-right: 3rem;
        }
    }
  } 
}
.burger {
    margin-top: 2.5rem;
    right: 2.5rem;
    display: grid;
    justify-self: end;
    position: fixed;
    z-index: 200;
    cursor: pointer;

        &__line {
            margin-bottom: 5px;
            width: 30px;
            height: 3px;
            background: rgb(47, 23, 114);
            border-radius: 2px;
            transform-origin: left center;
            transition: all 0.4s ease-in-out;

            &:first-of-type {
                .open & {
                    transform: rotate(44deg) translate3d(-2px,0,0);
                    background-color: #eae0fd;
                    opacity: 0.5;
                }
            }

            &:nth-of-type(2) {
                width: 18px;
                .open & {
                    opacity: 0;
                }
            }

            &:last-of-type {
                .open & {
                    transform: rotate(-44deg) translate3d(-4px, 0, 0);
                    background-color: #eae0fd;
                    opacity: 0.5;
                }
            }
        }
    }
    
  