@import 'colors'; 

:root{
    overflow-x: hidden;
    scroll-behavior: smooth; 
    color: $background;
}

/***Homepage********/

%wrapperstyle {
    height: 100vh;
    width: 100%;
    display: flex;
  }

%headingstyle{
  font-size: 12rem;
  position: relative;
  text-transform: uppercase;
  color: $heading;
  font-family: "Vipnagorgialla", "Raleway", sans-serif; 
  letter-spacing: 9px;

  &:hover{
    transition: all 600ms ease-in-out;
    -webkit-text-stroke: 2px $heading;
    -webkit-text-fill-color: transparent; 
  }
}
%linkanimation{
    a{
      color: #6c7a8b;
      font-weight: 400;
      border-bottom: 2px solid transparent;
  
      &::after {
        content: "";
        height: 2px;
        width: 0;
        position: relative;
        left: 2.8rem;
        background-color: #d4c5df;
        display: block;
        transition: width 1s;
      }
    }
  
    a.navlinks:hover::after {
      color: $pinkish;
      width: 63%;
      transition: width 1s;
    }
}

.layerone{
  display: flex;
  margin: 1rem 0;
  height: 90vh;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: $background url('../images/weare.svg') no-repeat center center;
  background-size: contain;

    .fadsintro{
      width: 100%;
      z-index: 10;
      display: flex;
      flex-direction: column;
      text-align: center;
      position: relative;

      h1{
          color: $purple;
          font-size: 5rem;
          position: relative;
          top: -1rem;
          font-family: "Vipnagorgialla", "Raleway", sans-serif; 

      }
  }
}


.layertwo{ 
  height: 140vh;
  background-image: url('../images/biotriangle.png');
  background-repeat: no-repeat;
  background-position: 104% 2%;
  background-size: 800px;
  z-index: -1;

  .bioreveal{
    height: 1000px;
    background-image: url('../images/bio-purple.png');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 104% 7%;
    background-color: #90758a;
    position: relative;
    z-index: 1;
  }

  .text{
    position: relative;
    left: 6rem;
    top: -57.5rem;  
    overflow: hidden;  

    h3{
      font-family: 'Montserrat', sans-serif;
      color: $text;
      padding-top: 6rem;
      padding-bottom: 4rem;
      position: relative;
      width: 67%;
      font-size: 3rem;
      font-weight: 500;
      line-height: 4rem;
      letter-spacing: 0.7;
      color: #ffd9c2;
      z-index: 2;
      }
  }
    
    .biocontainer{
      width: 37%;
      position: relative;
      top: -6rem;
      right: 4rem;
      rotate: 90deg;
    }
  }

.layerfour{
    height: 165vh;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: flex-start;
    background-color: #757c97;
    position: relative;
    z-index: 3;

   .gallery{
     display: flex;
     flex-direction: column;
     flex: 1;
     margin-top: 3rem;
     margin-left: 1.4rem;


     h2{
      @extend %headingstyle;
       width: 97%;
       line-height: 11rem;
       margin-bottom: 3rem;
       z-index: 1;
       top: 9rem;

     }
     
     .visit{
      position: relative;
      left: 2rem;
      top: 10rem;
      font-weight: 300;
      font-size: 3rem;
      color: $pinkish;
      padding-left: 2rem;

      :hover{
        text-decoration: underline;
        transition: text-decoration 500ms ease-in-out;
      }
   }

   }

  .gallery-images{
    display: flex;
    flex-direction: column;
    flex: 0.8;
    height: 100%;
    max-width: 70%;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-blend-mode: screen;
  }
    .img1{
      height: 60%;
      position: relative;
      top: -6.4rem;
      box-shadow: 0 8px 6px -6px rgb(102, 102, 102);
      border-radius: 8px;
    }

    .img2{
      height: 60%;
      position: relative;
      top: 4rem;
      right: 6rem;
      box-shadow: 8px 8px 5px rgb(105, 105, 105);
      border-radius: 3px;
    }
  }

  .aboutuswrapper{
   height: 155vh;
   padding-bottom: 2rem;
   background-color: #907597;
   width: 100%;
   margin-top: -5rem;
   overflow: hidden;

  }
  .ab-text{
    position: relative;
    top: -5rem;
    left: 8rem;
    height: 100%;

    h2{
      @extend %headingstyle;
      font-size: 14rem;
      top: 4rem;
      color:#f5e2d7;
    }
    h3{
      position: relative;
      top: 1rem;
      left: 6rem;
      font-size: 1.8rem;
      letter-spacing: 0.3rem;
      line-height: 2.6rem; 
      font-weight: 400;
      color: $background;
      width: 60%;
    }
  }
  .ab-img-con{
    width: 1200px;
    height: 550px;
    position: relative;
    top: 10rem;
    overflow: hidden;
    margin: 4rem 0;

    .overlay{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #E6C5FE;
    width: 100%;
    height: 100%;
  }

    .aboutpic {
    width: 1200px;
    margin: 0 auto;
  }

  }

.layersix{
  margin-top: 0.2rem;
  height: 120vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url('../images/clustertri.svg') no-repeat left top;
  background-color: #f5e3d9;
  background-size: 1440px;
  position: relative;

  .jointxt{
    position: relative;
    max-width: 100%;
    width: 70%;
    left: 3rem;
    top: 4rem;

    h2{
      @extend %headingstyle;
      color: $background;
      top: 4.5rem;
      line-height: 10rem;
      color: #f5e3d9;
      letter-spacing: 1px;
    }

  }
    .joincomit{
    height: 70%;
    width: 70%;
    position: relative;
    top: -14rem;
    left: 2.5rem;
    float: right;
    
  }
}

.layerseven{
  height: 235vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: $text;

  .agencytxt{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 57%;
    width: 57%;
    flex: 1;

    h2{
      @extend %headingstyle;
      padding: 1.3rem;
      margin-top: 3rem 2rem;
      top: 9rem;
      left: 0.5rem;
      font-size: 5.3rem;
      line-height: 8rem;
      letter-spacing: 8px;
      border-bottom: 5px solid #333C45 ;
      border-top: 5px solid #333C45 ;
      color: $background;
    }
    p{
      position: relative;
      left: 1.5rem;
      top: 74.5rem;
      font-size: 2.5rem;
      font-weight: 600;
      color: $background;
    }
  }
  .agencylist{
    position: relative;
    top: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 51%;
    width: 51%;

    h3{
      margin-top: 2rem;
      position: relative;
      top: 1rem;
      left: 3rem;
      font-weight: 400; 
      opacity: 0.4;
      text-decoration: underline;
      color: $background;
    }

    ul{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 2rem -1rem 2rem 1rem;
      color: $purple;
    }
    li{
      font-weight: 300;
      font-size: 4rem;
      padding: 1rem 0 1rem 0;
      margin: 1rem 0;
      color: #fde6c5;
    }
  }
}
