@import 'colors'; 
@import 'breakpoints'; 

.error-bio{
    background: #d6d2eb url('../images/loading3.gif') no-repeat center center / contain;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    overflow: hidden;

     h1{
        font-size: 4rem;
        text-align: center;
        width: 80%;
        color: #ffffff;
        mix-blend-mode: multiply;
     }
  }
 
.eboardwrapper{
    width: 100vw;
    overflow: hidden;
    position: relative;
    height: 100%;
    padding-top: 6rem;
    padding-bottom: 8rem;
    background: lighten($lightergraypurple, 8%);
 
    @include media ("screen", "<=phone") {
        background: #e4dee9 url('https://i.pinimg.com/564x/1a/aa/59/1aaa593b5cba6d743ac075f323304c61.jpg') repeat-y bottom center/ contain;
        background-blend-mode: screen;
    }
    a{
        position: relative;
        z-index: 30;
    }
    .positionIntro{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        h1{
            text-align: center;
            font-size: 8rem;
            color: darken($darkpurple, 2%);
    
            @include media ("screen", "<=phone") {
                font-size: 4.2rem;
        
            }
        }
    }

    .members{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: -2rem 1.8rem 0 1.8rem;
        text-align: center;
        flex-wrap: wrap;
        
        a{
            cursor: none;
        }

        @include media ("screen", "<=phone") {
            margin: 2rem 0;
        }
       
        .member-intro{
            display: flex;
            flex-direction: column;
            width: 33%;
            height: 600px;
            padding: 1.2rem;
            margin: 2rem 0;

            @include media ("screen", "<=phone") {
                width: 100%;
                transition: none;
                margin: 2rem 0 1rem 0;
            }
            img{
                filter: brightness(105%) saturate(105%);
                width: 100%;
                border-radius: 5px;
                max-width: 80%;
                max-height: 80%;
                margin: 0 auto 2rem auto;
                transition: all 400ms ease-in-out;
                position: relative;
                z-index: 10;
            }
        }
        .models-intro{
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 40%;
            padding: 1rem;
            margin: 1rem 2rem;
            height: 800px;
            overflow-y: scroll;

            @include media ("screen", "<=phone") {
                width: 100%;
                height: 100%;
                transition: none;
                margin: 2rem 0 1rem 0;
            }
            img{
                height: 600px;
                width: 100%;
                border-radius: 5px;
                padding-bottom: 2rem;
                transition: all 400ms ease-in-out;
                position: relative;
                z-index: 10;
                object-fit: cover;
                object-position: top;

                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        
        h2{
            font-size: 2.5rem;
            letter-spacing: 0.2rem;
            color: $purple;        
        }
        h4{
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 2.3rem;
            margin-top: 0.5rem;
            color: $darkpurple;
        }
    }
}