@import 'colors'; 
@import 'breakpoints'; 

.error-bio{
    background: #dfdcee url('../images/loading3.gif') no-repeat center center / contain;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

     h1{
        font-size: 4rem;
        text-align: center;
        width: 80%;
        color: #666e9c;
        margin-top: 4rem;
        mix-blend-mode: multiply;
     }
  }
 
.eboardwrapper{
    width: 100vw;
    overflow: hidden;
    position: relative;
    height: 100%;
    padding-top: 6rem;
    padding-bottom: 8rem;
    background: lighten($lightergraypurple, 8%);
    /*background: $graypurple url('../images/eboardbgl.svg') no-repeat right center/ cover;*/
 
    @include media ("screen", "<=phone") {
        background: $graypurple url('../images/eboardbgsm1.svg') no-repeat left center/ cover;
    }
    a{
        position: relative;
        z-index: 30;
    }
    h1{
        font-size: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: darken($darkpurple, 2%);

        @include media ("screen", "<=phone") {
            font-size: 4.2rem;
    
        }
    }

    .members{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin: -3rem 2rem 0 2rem;
        text-align: center;
        flex-wrap: wrap;
        
        a{
            cursor: none;
        }

        @include media ("screen", "<=phone") {
            margin: 2rem 0;
        }
       
        .member-intro{
            display: flex;
            flex-direction: column;
            width: 33%;
            height: 600px;
            padding: 1.2rem;
            margin: 2rem 0;

            @include media ("screen", "<=phone") {
                width: 100%;
                transition: none;
                margin: 2rem 0 1rem 0;
            }
            img{
                filter: contrast(110%) saturate(1.15);
                width: 100%;
                border-radius: 5px;
                max-width: 80%;
                max-height: 80%;
                opacity: 0.8;
                margin: 0 auto 2rem auto;
                transition: all 400ms ease-in-out;
  
            }
        }
        
        h2{
            letter-spacing: 0.2rem;
            color: $purple;        
        }
        h4{
            line-height: 2.3rem;
            margin-top: 0.5rem;
            color: $darkpurple;
        }
    }
}