.error-bio {
  background: #dfdcee url("../images/loading3.gif") no-repeat center center/contain;
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
}

.error-bio h1 {
  font-size: 4rem;
  text-align: center;
  width: 80%;
  color: #ffffff;
  mix-blend-mode: multiply;
}

.error-bio p {
  font-size: 4rem;
  text-align: center;
  width: 100%;
  color: #ffffff;
  mix-blend-mode: multiply;
}

.eboardwrapper {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 8rem;
  background: #ece7ef;
  /*background: $graypurple url('../images/eboardbgl.svg') no-repeat right center/ cover;*/
}

@media screen and (max-width: 430px) {
  .eboardwrapper {
    background: #e4dee9 url("https://i.pinimg.com/564x/1a/aa/59/1aaa593b5cba6d743ac075f323304c61.jpg") repeat-y bottom center/contain;
    background-blend-mode: screen;
  }
}

.eboardwrapper a {
  position: relative;
  z-index: 30;
}

.eboardwrapper .positionIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.eboardwrapper .positionIntro h1 {
  text-align: center;
  font-size: 8rem;
  color: #5c4e67;
}

@media screen and (max-width: 430px) {
  .eboardwrapper .positionIntro h1 {
    font-size: 4.2rem;
  }
}

.eboardwrapper .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: -3rem 2rem 0 2rem;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.eboardwrapper .members a {
  cursor: none;
}

@media screen and (max-width: 430px) {
  .eboardwrapper .members {
    margin: 2rem 0;
  }
}

.eboardwrapper .members .member-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  height: 600px;
  padding: 1.2rem;
  margin: 2rem 0;
}

@media screen and (max-width: 430px) {
  .eboardwrapper .members .member-intro {
    width: 100%;
    -webkit-transition: none;
    transition: none;
    margin: 2rem 0 1rem 0;
  }
}

.eboardwrapper .members .member-intro img {
  -webkit-filter: brightness(105%) saturate(105%);
          filter: brightness(105%) saturate(105%);
  width: 100%;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto 2rem auto;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  position: relative;
  z-index: 10;
}

.eboardwrapper .members .models-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 1.2rem;
  margin: 2rem 0;
}

@media screen and (max-width: 430px) {
  .eboardwrapper .members .models-intro {
    width: 100%;
    -webkit-transition: none;
    transition: none;
    margin: 2rem 0 1rem 0;
  }
}

.eboardwrapper .members .models-intro img {
  -webkit-filter: brightness(105%) saturate(105%);
          filter: brightness(105%) saturate(105%);
  height: 700px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto 2rem auto;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  position: relative;
  z-index: 10;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.eboardwrapper .members h2 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: #2f0e47;
}

.eboardwrapper .members h4 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.3rem;
  margin-top: 0.5rem;
  color: #61526d;
}
/*# sourceMappingURL=pgagency.css.map */