.pressWrapper {
  background-color: #e0cdc5;
  height: 100%;
  border: 1px solid rgba(253, 253, 253, 0);
  /*****************Press/News**************/
  /*****************Press/News**************/
  /*****************Press/News**************/ }
  .pressWrapper .pressHeader {
    padding: 6rem;
    margin-top: 4rem; }
    @media screen and (max-width: 430px) {
      .pressWrapper .pressHeader {
        padding: 3rem;
        margin-top: 6rem; } }
    .pressWrapper .pressHeader .introH1 {
      font-size: 3rem;
      color: #fdf3e4; }
      @media screen and (max-width: 430px) {
        .pressWrapper .pressHeader .introH1 {
          font-size: 1.8rem; } }
  .pressWrapper .headerContent {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .pressWrapper .headerContent .headerLeftpress {
      align-self: flex-start; }
      .pressWrapper .headerContent .headerLeftpress .f4h1 {
        font-size: 12rem;
        transform: rotate(-90deg);
        color: #d65273;
        position: relative;
        left: -5rem; }
        @media screen and (max-width: 430px) {
          .pressWrapper .headerContent .headerLeftpress .f4h1 {
            font-size: 7rem; } }
    .pressWrapper .headerContent .headerRightpress {
      padding: 1rem 0;
      align-self: flex-start;
      position: relative;
      left: -7rem;
      top: 1rem; }
      @media screen and (max-width: 430px) {
        .pressWrapper .headerContent .headerRightpress {
          top: 0;
          left: -8.5rem; } }
      .pressWrapper .headerContent .headerRightpress .f4expand {
        font-size: 5rem;
        -webkit-text-stroke: 1.2px #d65273;
        -webkit-text-fill-color: transparent; }
        @media screen and (max-width: 430px) {
          .pressWrapper .headerContent .headerRightpress .f4expand {
            font-size: 2rem;
            -webkit-text-stroke: 0.8px #d65273; } }
      .pressWrapper .headerContent .headerRightpress p {
        font-size: 1.6rem;
        color: #d65273; }
        @media screen and (max-width: 430px) {
          .pressWrapper .headerContent .headerRightpress p {
            font-size: 1rem; } }
  .pressWrapper .f4bg {
    background: #e0cdc5 url("../images/f4b.gif") no-repeat right center/cover;
    position: relative;
    top: -0.55rem; }
    @media screen and (max-width: 430px) {
      .pressWrapper .f4bg {
        background-position: -200px top; } }
  .pressWrapper .F4speakers {
    height: 140%;
    padding: 5rem 2rem 2rem 2rem;
    margin: 0 2rem 2rem 2rem; }
    @media screen and (max-width: 430px) {
      .pressWrapper .F4speakers {
        padding: 5rem 1rem 2rem 1rem;
        margin: 0; } }
  .pressWrapper h4 {
    font-size: 7rem;
    font-weight: 600;
    color: #fdf3e4;
    margin-left: 2rem;
    letter-spacing: 3px;
    -webkit-text-stroke: 2px #d65273;
    -webkit-text-fill-color: transparent;
    width: 100%; }
    @media screen and (max-width: 430px) {
      .pressWrapper h4 {
        font-size: 4rem;
        -webkit-text-stroke: 2px #fdf3e4;
        -webkit-text-fill-color: #fdf3e4;
        mix-blend-mode: normal; } }
    .pressWrapper h4 span {
      -webkit-text-fill-color: #d65273;
      mix-blend-mode: hard-light; }
      @media screen and (max-width: 430px) {
        .pressWrapper h4 span {
          -webkit-text-fill-color: #fdf3e4;
          mix-blend-mode: normal; } }
  .pressWrapper .speakerposters {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap; }
    .pressWrapper .speakerposters .poster {
      display: flex;
      flex-direction: column;
      margin: 2rem; }
      .pressWrapper .speakerposters .poster img {
        height: 500px; }
        @media screen and (max-width: 430px) {
          .pressWrapper .speakerposters .poster img {
            height: 320px; } }
      .pressWrapper .speakerposters .poster .tuned {
        height: 500px;
        padding: 4rem; }
        .pressWrapper .speakerposters .poster .tuned h2 {
          text-align: center;
          font-size: 3.6rem;
          position: relative;
          top: 12%;
          color: #fdf3e4; }
          @media screen and (max-width: 430px) {
            .pressWrapper .speakerposters .poster .tuned h2 {
              top: 8%; } }
  .pressWrapper .otherNews {
    padding: 8.5rem 5rem 6rem 5rem;
    position: relative;
    width: 100vw; }
    @media screen and (max-width: 430px) {
      .pressWrapper .otherNews {
        padding: 2rem;
        margin-top: 7rem;
        width: 100vw; } }
    .pressWrapper .otherNews .latest {
      position: relative; }
      @media screen and (max-width: 430px) {
        .pressWrapper .otherNews .latest {
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          width: 100vw; } }
      .pressWrapper .otherNews .latest h4 {
        font-size: 10rem;
        width: 100%;
        position: relative;
        top: 1.1rem;
        -webkit-text-stroke: 2px #fdf3e4;
        -webkit-text-fill-color: transparent;
        z-index: 8; }
        @media screen and (max-width: 430px) {
          .pressWrapper .otherNews .latest h4 {
            font-size: 4rem;
            text-align: center;
            -webkit-text-stroke: 2px #fdf3e4;
            -webkit-text-fill-color: #fdf3e4;
            top: -1.1rem;
            z-index: 2; } }
      .pressWrapper .otherNews .latest .overlayh4 {
        -webkit-text-stroke: none;
        -webkit-text-fill-color: #fdf3e4;
        font-size: 10rem;
        width: 100%;
        position: relative;
        margin-top: -12.5rem;
        opacity: 0.7;
        z-index: 2; }
        @media screen and (max-width: 430px) {
          .pressWrapper .otherNews .latest .overlayh4 {
            display: none; } }
    .pressWrapper .otherNews .cardLink {
      position: relative;
      z-index: 200; }
    .pressWrapper .otherNews .cardDeck {
      margin-top: -3.8rem;
      position: relative;
      z-index: 6; }
      @media screen and (max-width: 430px) {
        .pressWrapper .otherNews .cardDeck {
          margin-top: 1.5rem;
          z-index: 7; } }
    .pressWrapper .otherNews .card {
      background-color: #fff7e8;
      border: none;
      min-height: 720px; }
      @media screen and (max-width: 430px) {
        .pressWrapper .otherNews .card {
          margin-bottom: 3.5rem; } }
      .pressWrapper .otherNews .card .imgWrapNews {
        height: 430px;
        overflow: hidden; }
      .pressWrapper .otherNews .card img {
        object-fit: cover;
        object-position: center; }
    .pressWrapper .otherNews .cardDeck2 {
      margin: 2.5rem auto; }
